.mat-card-simples{
  max-width: 300px;
  background-color: aliceblue;
  margin-top: 10px;

}

.mat-card-principal{
  background-color: rgb(200, 200, 238);
  margin-left: 15px;
  margin-right: 15px; 
}

.mat-form-principal{
  margin-left: 60px;
  margin-right: 60px;
}

.mat-card-footer{
  margin-left: 400px;
}

